/**
* Site header style
**/
.site-header {
  display: flex;
  background-color: $Secondary;
  color: $primary;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  position: relative;
  gap: 50px;

  /**
* Site header link style
**/
  a {
    color: $primary;
    transition: color 0.5s ease-in-out;
    /**
    * Site header link hover style
    **/
    &:hover {
      color: $main;
    }
  }

  /**
  * Site header style
  **/
  .logo {
    display: block;

    h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;

      a {
        display: block;
        font-size: 3rem;
        color: $primary;
        text-transform: uppercase;

        &:hover {
          color: $main;
        }
      }
    }
  }

  /**
  * Site header navigation menu style
  **/
  .nav-box {
    display: block;

    .menus {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style-type: none;
      gap: 50px;
      .menu {
        display: block;
      }
    }
  }
}
